@font-face { font-family: BlueRiver; src: url('fonts/BlueRiver.otf'); } 

body {
    font-family: sans-serif;
    /* text-align:center; */
    background: linear-gradient(0deg, rgba(251,251,169,1) 19%, rgba(250,235,215,1) 100%);
}

.logo_img {
    width: 10%;
}


h1 {
    font-family: BlueRiver;
    font-size: 70px;
    text-align: center;
    color: rgb(146, 9, 89);
}

nav {
    border-top: 3px solid rgb(198, 65, 225);
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(198, 65, 225);
    padding-right: 10%;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(245, 130, 168);
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid;
    border-radius: 15px;
    padding: 15px;
}

nav a:hover {
    color: rgb(177, 108, 131);
    background: #f183b1;;
}


h2 {
    color: rgb(146, 179, 15);
    margin-left: 100px;
    font-size: 30px;
    font-family: cursive;
}

.catalog a {
    text-decoration: none;
    color: rgb(199, 134, 134);
    border-bottom: 1px dotted rgb(87, 2, 2);
    font-size: 20px;
}

.catalog {
    margin: auto;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(251,251,169,1) 19%, rgba(238,207,20,1) 100%);;
    border-radius: 30px;
}

.catalog_text, .principles_text {
 /* text-align: center; */
 display: flex;
 position: relative;
 left:37%;
}

.product {
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 5px dotted rgb(211, 125, 151);
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(245, 229, 178);
}

.principles {

    margin: auto;
    width: 50%;
    padding: 50px;
    display: flex;
    border-top: 5px solid rgb(167, 167, 250);
    border-bottom: 5px solid rgb(167, 167, 250);
    justify-content: space-between; 
    /* width: 700px; */
    /* margin: 0 30px; */
    /* padding: 30px; */
    /* text-align: center; */
}


.principle {
    width: 120px;
    color: rgb(223, 160, 252);
}

.head_img{
    width: 50%;
    display: flex;
    margin: auto;
    padding: 30px;
}

.slogan {
    margin: auto;
    width: 50%;
    padding: 50px;
    display: flex;
    color: rgba(12, 12, 145, 0.397);
}

.slogan_img {
    padding: 10px;
    border: 5px solid rgb(255, 55, 188);
    border-radius: 50%;
}

.slogan_text {
    float:left;
    color: rgb(248, 171, 238);
    margin: 20px;
}

footer {
    background-color: rgb(218, 255, 155);
    color: rgb(245, 158, 158);
    padding: 10px;
    font-size: 20px;
}
